@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_APPAuthLayout.cshtml";
}


<div class="col-sm-12">
    <div class="wrapper-page">
        <div class="m-t-40 account-pages">
            <div class="text-center account-logo-box">
                <h2 class="text-uppercase">
                    <a href="index.html" class="text-success">
                        <span><img src="~/assets/images/logo.png" alt="" height="36"></span>
                    </a>
                </h2>
            </div>
            <div class="account-content">

                <div class="text-center m-b-20">
                    <p class="text-muted m-b-0 font-13">Instruction on how to reste your password has being sent to the email address provided.  </p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>


        <div class="row m-t-50">
            <div class="col-sm-12 text-center">
                <p class="text-muted">Back to Login Page?  <a asp-action="Login" class="text-primary m-l-5"><b>Login</b></a>  </p>
            </div>
        </div>

    </div>

</div>>
