
@model SleekSoftMVCFramework.Data.IdentityModel.Permission

@{
    ViewBag.Title = "Delete";
    Layout = null;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Permission</h4>
    </div>
    <div class="modal-body" style="padding-left:50px;padding-right:50px;">

        <h3>Do you really want to remove this Permission ?</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-primary">Yes</button>
    </div>
}